<h1>Create your Bartender Profile</h1>

<%= simple_form_for(@bartender) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :photo, as: :file %>
  <%= submit_tag "Create Bartender Profile", class: "btn btn-primary" %>
<% end %>
