<div class="container">
  <h1>
    <%= @user.email %>
  </h1>
  <ul>
    <% @user.cocktails.each do |cocktail| %>
      <li>
        <%= cocktail.name %>
        <% if current_user == @user  %>
          <%= link_to 'Edit', edit_cocktail_path(cocktail) %>
          <%= link_to 'Delete',
            cocktail_path(cocktail),
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <h2>Add a Cocktail</h2>
  <%= simple_form_for [ @user, @cocktail ] do |f| %>
    <%= f.input :name %>
    <%= submit_tag "Add Cocktail", class: "btn btn-primary" %>
  <% end %>

  <h2>Add a picture of your bar</h2>
  <%= simple_form_for(@user) do |f| %>
    <%= f.input :photo, as: :file %>
    <%= submit_tag "Upload Picture", class: "btn btn-primary" %>
  <% end %>
  <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>

</div>


