<h1>
  <%= @user.email %>
</h1>
<ul>
  <% @user.cocktails.each do |cocktail| %>
    <li>
      <%= cocktail.name %>
      <%= link_to 'Edit', edit_cocktail_path(cocktail) %>
    </li>
  <% end %>
</ul>

<%= simple_form_for [ @user, @cocktail ] do |f| %>
  <%= f.input :name %>
  <%= f.submit %>
<% end %>
